<div class="container main">
  <ul class="list-group">
    {{#each claims}}
      <li class="list-group-item">
        <a href="{{source}}" target="_blank">{{title}}</a>
      </li>
    {{/each}}
</div>
