<div class="container main">
  <div class="page-header text-right">
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>
  <ul class="list-group">
    {{#each claims}}
      <li class="list-group-item">
        <a href="{{source}}" target="_blank">{{title}}</a>
      </li>
    {{/each}}
</div>
