<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pocket Reference</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="page-header">
      <h1>Pocket Reference</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-3"><p>thing1</p></div>
        <div class="col-xs-6 main-frame"><p>thing2</p></div>
        <div class="col-xs-3"><p>thing3</p></div>
      </div>
    </div>
  </body>
</html>
