<div class="container main">
  <div class="jumbotron text-center">
    <p>Login or register with:</p>
    <a href="/login" class="btn btn-default">Local login</a>
    <a href="/register" class="btn btn-default">Local registration</a>
  </div>
</div>
